<h2>Записаться</h2>
<p>На этой странице вы можете записаться на приём.</p>

<script type="text/javascript">

$(function() {

  // тут я могу написать любой javascript код, который исполнится
  // после загрузки страницы

  $('#datetimepicker').datetimepicker();

});

</script>

<form action = "/visit" method = "POST" >

<select class="form-control" name = "barber">
  <% @barbers.each do |barber| %>
  <option <%= @barber== barber['name'] ? 'selected':'' %>><%= barber['name'] %></option>
  <% end %>
</select>


  <div class="form-group">
    <label>Имя</label>
    <input type="text" class="form-control" name="username" placeholder="Введите ваше имя" value = <%= @username%>>
  </div>
  <div class="form-group">
    <label>Телефон</label>
    <input type="text" class="form-control" name="phone" placeholder="Ваш телефон"value = <%= @phone%>>
  </div>
  <div class="form-group">
    <label>Когда вас ждать?</label>
    <input id="datetimepicker" name="datetime" type="text" class="form-control" placeholder="Введите дату и время" value="<%= @datetime %>">
  </div>

  <button type="submit" class="btn btn-primary">Записаться</button>
</form>